In [3]:
import numpy as np
import pandas as pd

In [5]:
#labels array
labels = ['a','b','c']

#list array
my_list = [10,20,30]
arr = np.array([10,20,30])

#dictionary
d = {'a':10, 'b':20, 'c':30}
a = pd.Series(d)
print(a['a'])
print(a['c'])

10
30

In [6]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(index=labels, data=my_list)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(labels, my_list)

10    a
20    b
30    c
dtype: object

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [10]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
#Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4], index = ['USA','Germany','USSR','Japan'])
print(ser1)
print("\n")

ser2 = pd.Series([1,2,5,4], index = ['USA','Germany','Italy','Japan'])
print(ser2)
print(ser1['USA'])
print("\n")

print(ser1 + ser2)

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64


USA        1
Germany    2
Italy      5
Japan      4
dtype: int64
1


Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64